{% extends "custhome.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Contact to Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/mystyle.css">
</head>

</html>




<style>
.image2{
width:100%;
height:470px;
background:url(/static/images/5.jpeg)

}
body{background-image: url("https://source.unsplash.com/1600x900/?matrix");}
#demo{
color:magenta;
}
p{color:magenta!important;}
</style>
<div class="about">
    <h1 class="text-center container pt-4" >Contact Us</h1>
</div>



<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14287.246549241692!2d82.4900263!3d26.4618!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1df343408ce3e7ae!2sChhatrapati%20Sahuji%20Maharaj%20Govt%20Polytechnic%20College!5e0!3m2!1sen!2sin!4v1609061230295!5m2!1sen!2sin" width="500" height="390" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-sm-6 ">
            <p><i class="fas fa-envelope"></i> Email ID :<a href="gmail.com"> mi866201@gmail.com</a><a href="gmail.com"> singhbhavesh682@gmail.com</a> </p>
            <a href="gmail.com"> bastiwalahero@gmail.com</a> </p><a href="gmail.com"> navneetranjan856@gmail.com</a> </p>
            <p><i class="fas fa-phone-square"></i> Contact : <a href="https://www.truecaller.com/search">8081522656</a> <a href="truecaller.com">8081403281</a></p>
            <p><i class="fas fa-address-card"></i> Address : <a href="#">C S J M GOVERNMENT POLYTECHNIC  Ambedkarnagar</a>  </p>
            <p><i class="fas fa-clock"></i> Office Hours : <a href="#">10:00 am to 7:00 pm</a> </p>
            <b style="font-family:'Monotype corsiva';font-size:20px"><i><p style="color:red">FOLLOW US : </p></i></b>
            <span style="font-size:30px"><a href="https://facebook.com/"><i class="fab fa-facebook-f  "></i></a>
            <a href="https://twitter.com/login?lang=hi"><i class="fab fa-twitter pl-5"></i></a>
            <a href="https://web.telegram.org/"><i class="fab fa-telegram-plane pl-5"></i></a>
            <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp pl-5"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram pl-5"></i></a>

            </span>
        </div><marquee><h1>THAT CONTACT IS AVALIABLE FOR ONLY STUDENT </h1></marquee>
    </div><div class="container">
  <h2>BEST QUOTES</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
    <div id="demo" class="collapse">
      <p>“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” —<b>Malcolm X</b> </p>
      <p>“Teachers can open the door, but you must enter it yourself.”</p>
      <p>“People expect to be bored by eLearning—let’s show them it doesn’t have to be like that!” - <b>Cammy Bean</b></p>
  </div>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">INSPIRING QUOTES</button>

</div>

</div>

{% endblock body %}

